.searchBar {
  border: 2px solid var(--color-border);
  border-radius: var(--radius-sm);
}

.searchInput {
  padding: 10px;
  border-radius: 8px 0px 0px 8px;
  width: 400px;
}

.searchInput:focus {
  outline: none;
}

.searchBtn {
  padding: 10px 20px;
  border-radius: 0px 8px 8px 0px;
  color: var(--color-text);
}

.searchInput,
.searchBtn {
  border: none;
  font-size: var(--font-size-p);
  height: 40px;
  font-family: "OFL";
}
