.header {
  display: block;
  background-color: var(--color-header-light);
  font-family: "OFL";
  height: auto;
}
.header a {
  text-decoration: none;
}

.Gutendex {
  font-size: var(--font-size-h1);
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-md) 0px;
}

.navBar {
  display: flex;
  padding-bottom: var(--spacing-sm);
}

.searchBar {
  margin: auto;
}

.categoryMenu {
  margin-left: var(--spacing-md);
  margin-right: var(--spacing-xl);
}
.theme {
  margin-right: var(--spacing-md);
  margin-left: 5px;
}
.theme,
.favorites {
  padding: 10px 20px;
  border: 2px solid var(--color-border);
  border-radius: var(--radius-sm);
  color: var(--color-text);
  font-size: var(--font-size-p);
  height: 40px;
  font-family: "OFL";
}
.Light {
  background: white;
  color: black;
}

.Dark {
  background: black;
  color: white;
}
