.categoryToggle {
  padding: 10px 20px;
  border: 2px solid var(--color-border);
  border-radius: var(--radius-sm);
  color: var(--color-text);
  font-size: var(--font-size-p);
  height: 40px;
  font-family: "OFL";
}
.dropdownMenu {
  position: absolute;
  gap: var(--spacing-l);

  display: flex;
  margin-top: 12px;
  background-color: #f0f0f0;

  border: 2px solid var(--color-border);
  border-radius: var(--radius-sm);
  padding: 10px 10px 10px 10px;
}
.categories {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon {
  font-size: 2rem;
}
