.dropdownWrapper {
  position: relative;
  display: inline-block;
}
.categoryToggle {
  padding: 10px 20px;
  border: 2px solid var(--color-border);
  border-radius: var(--radius-sm);
  color: var(--color-text);
  font-size: var(--font-size-p);
  height: 40px;
  font-family: "OFL";
}
.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-sm);
  background-color: #f0f0f0;

  border: 2px solid var(--color-border);
  border-radius: var(--radius-sm);
  padding: 10px 30px 10px 10px;

  z-index: 1000;
}
.categories {
  color: var(--color-text);
}
